<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dkt.school.spt.dao.SptMeetingItemCustomMapper" >
  <resultMap id="BaseResultMap" type="com.dkt.school.spt.model.SptMeetingItem" 
  				  extends="com.dkt.school.spt.dao.SptMeetingItemMapper.BaseResultMap">
  </resultMap>
  
	<resultMap id="dtoResultMap" type="com.dkt.school.spt.dto.SptMeetingItemDto"  
				    extends="com.dkt.school.spt.dao.SptMeetingItemMapper.BaseResultMap">
		<result column="type_str" property="typeStr" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="charge_person_name" property="chargePersonName" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="selectStpMeetingItemType" resultType="java.util.HashMap">
		SELECT id, name FROM `sys_enumeration_value`WHERE enumeration_id = 21200
	</select>
	
	<select id="selectSptMeetingItemCount" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM `spt_meeting_item`
		<where>
			<if test="dto.type != null and dto.type != 0">
				type=${dto.type}
			</if>
			<if test="dto.code != null and dto.code != '' ">
				AND charge_person = (SELECT tea_info_id FROM pe_person_info WHERE tea_info_id = (SELECT id FROM tea_teacher_info WHERE teacher_id = (SELECT id FROM tea_teacher WHERE code='${dto.code}')))
			</if>
			<if test="dto.name != null and dto.name != '' ">
				AND name like '%${dto.name}%'
			</if>
		</where>
	</select>
	
	<select id="selectSptMeetingItem" resultMap="dtoResultMap">
		SELECT *, 
		(SELECT name FROM tea_teacher_info WHERE id = (SELECT tea_info_id FROM pe_person_info WHERE id = charge_person)) AS charge_person_name,
		(SELECT name FROM sys_enumeration_value WHERE id=type)  AS type_str ,
		(SELECT code FROM tea_teacher WHERE id = (SELECT teacher_id FROM tea_teacher_info WHERE id = charge_person)) AS code
		FROM `spt_meeting_item`
		<where>
			<if test="dto.type != null and dto.type != 0">
				type=${dto.type}
			</if>
			<if test="dto.code != null and dto.code != '' ">
				AND charge_person = (SELECT tea_info_id FROM pe_person_info WHERE tea_info_id = (SELECT id FROM tea_teacher_info WHERE teacher_id = (SELECT id FROM tea_teacher WHERE code='${dto.code}')))
			</if>
			<if test="dto.name != null and dto.name != '' ">
				AND name like '%${dto.name}%'
			</if>
		</where>
		<if test="limit != null">
			limit ${limit.offset}, ${limit.rows}
		</if>
	</select>
</mapper>