<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dkt.school.tea.dao.TeacherPunishmentCustomMapper">
	<resultMap id="TeacherPunishment" type="com.dkt.school.tea.model.TeacherPunishment" 
				extends="com.dkt.school.tea.dao.TeacherPunishmentMapper.BaseResultMap"></resultMap>
	<resultMap id="TeacherPunishmentDto" type="com.dkt.school.tea.dto.TeacherPunishmentDto"
				extends="TeacherPunishment">
		<result column="schoolYear" property="schoolYear" jdbcType="VARCHAR"/>
		<result column="code" property="code" jdbcType="VARCHAR"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="punishDateStr" property="punishDateStr" jdbcType="VARCHAR"/>
		<result column="nowPosition" property="nowPosition" jdbcType="VARCHAR"/>
	</resultMap>
	<sql id="Base_Column_List">
		p.id,p.punishment_type,p.title,p.content,
		p.school_year_id,p.school_term_type,p.remark
	</sql>
	
	<select id="getTeaPunishmentList" resultMap="TeacherPunishmentDto"> 
		SELECT DISTINCT 
		<include refid="Base_Column_List" />,
		(SELECT y.`name` FROM sch_study_year AS y WHERE y.id = p.school_year_id) AS schoolYear,
		DATE_FORMAT(p.punish_date,'%Y-%m-%d') AS punishDateStr,
		t.code AS code,
		t.`name` AS name,
		t.now_position AS nowPosition
		FROM 
			tea_teacher_punishment AS p
		INNER JOIN tea_teacher AS t
		ON p.teacher_id = t.id
		<where>
			<if test="name != null and name != '' ">
				t.`name` like '%${name}%' 
			</if>
			<if test="code != null and code != '' ">
				AND t.code like '%${code}%'
			</if>
		</where>
		<if test="limit  != null and limit != '' ">
		LIMIT #{limit.offset}, #{limit.rows}
		</if>
	</select>
	
	<select id="getTeaPunishmentCount" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM tea_teacher_punishment AS p
		INNER JOIN tea_teacher AS t
		ON p.teacher_id = t.id
		<where>
			<if test="code != null and code != ''">
				t.code like '%${code}%'
			</if>
			<if test="name != null and name != ''">
				AND t.`name` like '%${name}%' 
			</if>
		</where>
		
	</select>
	
	<select id="getAllTeacherList" resultMap="TeacherPunishmentDto">
		SELECT DISTINCT 
		t.id AS teacherId,t.code,t.`name`,t.now_position AS nowPosition
		FROM tea_teacher t
		<where>
			<if test="code != null and code != '' ">
				t.code like '%${code}%'
			</if>
			<if test="name != null and name != '' ">
				AND t.`name` like '%${name}%' 
			</if>
		</where>
		<if test="limit != null and limit != '' ">
			LIMIT #{limit.offset},#{limit.rows}
		</if>
	</select>
	
	<select id="getTeacherCount" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM tea_teacher t
		<where> 
			<if test="code != null and code != ''">
				t.code like '%${code}%'
			</if>
			<if test="name != null and name != ''">
				AND t.`name` like '%${name}%' 
			</if>
		</where>
	</select>
	
	<select id="getSpecifiedTeacherPunishList" resultMap="TeacherPunishmentDto">
		SELECT DISTINCT 
		<include refid="Base_Column_List" />,
		(SELECT y.`name` FROM sch_study_year AS y WHERE y.id = p.school_year_id) AS schoolYear,
		DATE_FORMAT(p.punish_date,'%Y-%m-%d') AS punishDateStr
		FROM tea_teacher_punishment AS p
		<where>
			p.teacher_id = #{teacherId}
			<if test="schoolYearId != null and schoolYearId != '' ">
				AND p.school_year_id = #{schoolYearId}
			</if>
			<if test="schoolTermType != null and schoolTermType != '' ">
				AND p.school_term_type = #{schoolTermType}
			</if>
			<if test="title != null and title != '' ">
				AND p.title like '%${title}%'
			</if>
			
		</where>
		<if test="limit != null and limit != '' ">
			LIMIT #{limit.offset},#{limit.rows}
		</if>
	</select>
	
	<select id="getSpecifiedTeacherPunishCount" resultType="java.lang.Integer">
		SELECT  COUNT(*) 
		FROM tea_teacher_punishment p 
		<where>
			p.teacher_id = #{teacherId}
			<if test="schoolYearId != null and schoolYearId != '' ">
				AND p.school_year_id = #{schoolYearId}
			</if>
			<if test="schoolTermType != null and schoolTermType != '' ">
				AND p.school_term_type = #{schoolTermType}
			</if>
			<if test="title != null and title != '' ">
				AND p.title like '%${title}%'
			</if>
		</where>
	</select>
	
	<select id="getTeacherIdByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		SELECT t.id 
		FROM tea_teacher t
		<where>
			t.user_id = #{id}
		</where>
	</select>
	
	<delete id="deleteTeaPunishmentById" parameterType="java.lang.Integer">
		DELETE FROM tea_teacher_punishment 
		<where>
			id = #{id}
		</where>
	</delete>
</mapper>